GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
NEXT_PUBLIC_SITE_URL=https://www.munchosapp.xyz
NEXT_PUBLIC_PINNED_X_POST_URL=https://x.com/i/status/2076332062122955242
