GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
NEXT_PUBLIC_SITE_URL=https://www.munchosapp.xyz
NEXT_PUBLIC_PINNED_X_POST_URL=https://x.com/munchonft/status/2076633758585765988?s=20
NEXT_PUBLIC_GENESIS_CONTRACT_ADDRESS=0xf049D304746b5d05AC321B8c997BBe53CcDbf103
NEXT_PUBLIC_CATALYST_FUSION_CONTRACT_ADDRESS=0xed236b977e46Dc6360bfe72d231912eb63bAA27c
NEXT_PUBLIC_TESTNET_ENDS_AT=2026-07-29T08:00:00+01:00
